<!--/.container-fluid -->
  <div class="container-fluid">
      <div class="footer">
         <div class="col-md-5 col-lg-6 col-sm-6 col-xs-12 pull-left leftfoot">
            <ul class="legal menu">
              {{#each footerContent.legalFooterMenu}}
               <li><a href="{{this.menuUrl}}" target="blank">{{this.menuName}}</a></li>
               {{/each}}
            </ul>
         </div>
         <div class="col-md-5 col-lg-4 col-sm-6 col-xs-12 rightfoot leftshift">
            <ul class="legal menu">
              {{#each footerContent.utilityFooterMenu}}
               <li><a href="{{this.menuUrl}}" target="blank">{{this.menuName}}</a></li>

               {{/each}}

            </ul>
         </div>

		<div class=" col-md-2 col-lg-2 hidden-sm hidden-xs">
			 <ul class="legal1 menu right1">
				 <li><a href="{{footerContent.logoUrl}}" target="blank">
           <img src="{{footerContent.footerLogo}}" width="80px" id="img_footer"><br>
           </a>
              {{footerContent.copyrightText}}</li>
            </ul>
		</div>
		<div class="hidden-lg hidden-md col-xs-12 col-sm-12 whitespc">
		</div>
		<div class="hidden-lg hidden-md col-xs-12 col-sm-12 whitespc">
		</div>
		<div class=" col-xs-12 col-sm-12 hidden-lg hidden-md">
			<div class=" col-xs-4 col-sm-5 ">

			</div>
			<div class=" col-xs-4 col-sm-3 ">
        <a href="{{footerContent.logoUrl}}" target="blank">
          <img src="{{footerContent.footerLogo}}" width="80px"><br>
          </a>
			</div>
			<div class=" col-xs-4 col-sm-4 right1 footlinker ">

			</div>
		</div>
		<div class="hidden-lg hidden-md col-xs-12 col-sm-12 whitespc1">
		</div>
		<div class=" col-xs-12 col-sm-12 hidden-lg hidden-md">
			<div class=" col-xs-4 col-sm-5 ">

			</div>
			<div class=" col-xs-8 col-sm-7 footlinker fntsz">
				{{footerContent.copyrightText}}
			</div>

		</div>
      </div>
	  </div>
      <!--/container-->
